# Dependencies
node_modules

# Build outputs
dist
build

# Testing
coverage
*.test.ts
*.spec.ts

# Misc
.DS_Store
*.pem
*.log

# Debug
npm-debug.log*
bun-debug.log*

# Local env files
.env
.env*.local

# IDE
.idea
.vscode
*.swp
*.swo

# TypeScript
*.tsbuildinfo

