apiVersion: v1
kind: LimitRange
metadata:
  name: crm-limit-range
  namespace: crm-prod
  labels:
    app.kubernetes.io/part-of: crm-monorepo
    app.kubernetes.io/env: production
spec:
  limits:
    # Container defaults
    - type: Container
      default:
        cpu: 500m
        memory: 512Mi
      defaultRequest:
        cpu: 100m
        memory: 256Mi
      max:
        cpu: 2000m
        memory: 2Gi
      min:
        cpu: 50m
        memory: 64Mi
    
    # Pod limits
    - type: Pod
      max:
        cpu: 4000m
        memory: 4Gi
      min:
        cpu: 50m
        memory: 64Mi
    
    # PVC limits
    - type: PersistentVolumeClaim
      max:
        storage: 50Gi
      min:
        storage: 1Gi


